[submodule "firmware/components/AsyncTCP"]
	path = firmware/components/AsyncTCP
	url = https://github.com/me-no-dev/AsyncTCP
[submodule "firmware/components/ESPAsyncWebServer"]
	path = firmware/components/ESPAsyncWebServer
	url = https://github.com/me-no-dev/ESPAsyncWebServer
[submodule "firmware/components/esp-idf-lib"]
	path = firmware/components/esp-idf-lib
	url = https://github.com/UncleRus/esp-idf-lib
[submodule "firmware/components/idf-extra-components"]
	path = firmware/components/idf-extra-components
	url = https://github.com/espressif/idf-extra-components
[submodule "firmware/components/TFT_eSPI"]
	path = firmware/components/TFT_eSPI
	url = https://github.com/Bodmer/TFT_eSPI
