[submodule "firmware/components/Adafruit_TCA8418"]
	path = firmware/components/Adafruit_TCA8418
	url = https://github.com/adafruit/Adafruit_TCA8418
	shallow = true

[submodule "firmware/components/AsyncTCP"]
	path = firmware/components/AsyncTCP
	url = https://github.com/me-no-dev/AsyncTCP
	shallow = true

[submodule "firmware/components/ESPAsyncWebServer"]
	path = firmware/components/ESPAsyncWebServer
	url = https://github.com/me-no-dev/ESPAsyncWebServer
	shallow = true

[submodule "firmware/components/esp-idf-bq27441"]
	path = firmware/components/esp-idf-bq27441
	url = https://github.com/sparkfun/SparkFun_BQ27441_Arduino_Library
	shallow = true

[submodule "firmware/components/esp-idf-lib"]
	path = firmware/components/esp-idf-lib
	url = https://github.com/UncleRus/esp-idf-lib
	shallow = true

[submodule "firmware/components/idf-extra-components"]
	path = firmware/components/idf-extra-components
	url = https://github.com/espressif/idf-extra-components
	shallow = true

[submodule "firmware/components/esp-nimble-cpp-2.0.0"]
	path = firmware/components/esp-nimble-cpp-2.0.0
	url = https://github.com/h2zero/esp-nimble-cpp
	shallow = true

[submodule "firmware/components/TFT_eSPI"]
	path = firmware/components/TFT_eSPI
	url = https://github.com/Bodmer/TFT_eSPI
	shallow = true