# ESP-IDF build artifacts
build/
firmware/build/
firmware/patches.cmake_old
firmware/sdkconfig.old
firmware/managed_components/

# Exclude examples from submodulesC
firmware/components/*/examples/
firmware/components/*/docs/
firmware/components/*/test/
firmware/components/*/tests/

# Editor
.vscode/
.DS_Store
Thumbs.db

# ESP-IDF build artifacts
firmware/build/
firmware/sdkconfig.old
firmware/managed_components/

# Windows app build artifacts
app/win/bin/
app/win/obj/
